@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 17% 16%;
    --foreground: 0 0% 98%;
    --card: 212 17% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 212 17% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 211 31% 28%;
    --primary-foreground: 0 0% 98%;
    --secondary: 211 31% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 211 31% 22%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 84% 63%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 211 31% 28%;
    --input: 211 31% 28%;
    --ring: 0 84% 63%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
